/* Modify the cursor rules to only apply on desktop */
@media (min-width: 769px) {
  * {
    cursor: none;
  }

  a, button, input, textarea, [role="button"], select {
    cursor: pointer !important;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    cursor: text !important;
  }
}

/* Remove cursor rules for mobile */
@media (max-width: 768px) {
  * {
    cursor: auto !important;
  }
}